.navbar_container {
  display: flex;
  width: 100%;
  box-shadow: 6px 0 8px #ccc;
}
.garbin_logo img {
  height: 3rem;
  width: 10rem;
  margin: 0.5rem 0 0 1rem;
  cursor: pointer;
}
.navigation_tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 1.5rem;
  width: 70%;
}
.navigation_tools Link {
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
}
.home_link,
.transactions_link,
.about_link,
.contact_link {
  text-decoration: none;
  color: #000;
  border: 1px solid white;
  border-radius: 3px;
  padding: 0 0.3rem 0.1rem 0.3rem;
}
.home_link:hover,
.transactions_link:hover,
.about_link:hover,
.contact_link:hover {
  border: 1px solid black;
  border-radius: 3px;
  /* background: rgb(197, 232, 255); */
  color: #000;
  box-shadow: 0 0 7px #ccc;
}
.logout_button {
  padding: 0.15rem 0.35rem 0.15rem 0.35rem;
}
.logout_button:hover {
  box-shadow: 0 0 7px rgb(255, 126, 126);
  background: rgb(236, 45, 45);
}
