.signup_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: "100vh";
}
.login_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  margin-top: 80px;
}
.green_earth {
  margin-right: 10%;
  height: 300px;
  width: 300px;
}
.dustbin {
  height: 200px;
  width: 200px;
  position: absolute;
  bottom: 2rem;
}
.dustbin_wrapper {
  position: relative;
  margin-left: 10%;
  height: 300px;
  width: 300px;
}

@media (max-width: 1100px) {
  .signup_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .green_earth {
    margin: 0;
    height: 250px;
    width: 250px;
  }
  .dustbin {
    margin: 0 0 2rem 0;
    height: 160px;
    width: 160px;
    left: 15%;
  }
}
